{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap-min.css' %}" />
        <script src="{% static 'main/js/popper-min.js' %}" ></script>
        <script src="{% static 'main/js/jquery-min.js' %}" ></script>
        <title>{{ title }}</title>
    </head>
    <body>
        {% include 'main/includes/navbar.html' %}
        {% block content %}
        {% endblock content %}
    </body>
</html>