{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap-min.css' %}" />
        <script src="{% static 'main/js/jquery-min.js' %}" ></script>
        <script src="{% static 'main/js/bs4-min.js' %}" ></script>
        <script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>
        <title>{{ title }}</title>
    </head>
    <body>
        {% include 'main/includes/navbar.html' %}
        {% block content %}
        {% endblock content %}

        
    </body>
</html>