{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class='container pt-5'>
{% include 'main/includes/messages.html' %}
<!--Dropdown for filtering posts-->
<div class="dropdown mb-3">
  <button type="button" onclick=dropdown_toggle() class="btn btn-secondary dropdown-toggle">
    All Posts
  </button>
  <div id="custom-dropdown-menu" class="dropdown-menu">
    <div class="btn btn-outline-primary dropdown-item" onclick="filter('all')" >All</div>
    <div class="dropdown-item" onclick="filter('approved')">Approved</div>
    <div class="dropdown-item" onclick="filter('pending')">Pending</div>
    <div class="dropdown-item" onclick="filter('rejected')">Rejected</div>
  </div>
</div>
{% for post in posts %}
        <article class="media content-section {{ post.status }} ">
          <div class="media-body">
            <div class="article-metadata">
              <span class="mr-2">{{ post.author }}</span>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2 class="font-roboto"><a class="article-title" href="{% url 'view-post' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content font-ubuntu">{{ post.description }}</p>
            <a href="{{ post.PDFfile.url }}" target="blank" class="article-title">
              <img class="article-img" src="{% static 'main/img/pdf_ico.png' %}" alt="PDF file" />
                {{ post.PDFfile }}
            </a>
          </div>
        </article>
    {% endfor %}
</div>
{% endblock %}