{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="jumbotron">
        <h1>Login</h1>
    </div>
    <div class="container">

    
    <form method="POST">
        {% csrf_token %}
       <fieldset class="form-group">
           {{ form|crispy }}
       </fieldset>
        <div class="form-group">
            <input type="submit" class="login-input btn btn-warning" value="Login!" />
        </div>
    </form>

    <a class="text-muted" href="{% url 'pwd_reset' %}">
         Forgot Password?
     </a>

    {% include 'main/includes/messages.html' %}

</div>


{% endblock content %}